### Establecer la localización más óptima para las oficinas de una empresa de video juegos con los siguientes condiciones:

##### -Es una compañía de software que crea videojuegos.
##### -Tiene 50 empleados. Los roles dentro de la nueva compañía son: 20 desarrolladores, 20 diseñadores/creativos/UX-UI y 10 ejecutivos/managers.
##### -Debe haber ingenieros de software trabajando alrededor, así como diseñadores, desarrolladores y ejecutivos para cubrir los intereses del equipo.
##### -Debe haber un buen ratio de empresas grandes vs. startups.
##### -Se prefieren empresas de reciente creación.

In [28]:
# Importar librerias.
import pandas as pd
import pymongo

In [29]:
# Cargar la base de de MongoDB.
MongoClient = pymongo.MongoClient # Llamar a Mongo (conectar con el cliente).
client = MongoClient() # Guardar Mongo en variable cliente.
db = client.companies # Dentro de mongo conecto con base de dato company.

In [31]:
# Imprimo todas las categorias para ver que tengo.
cursor = db.companies.find({'category_code':{'$exists': 'true'}}) # Creo mi cursor para iterar secuencialmente los resultados obtenidos de la query.
categories = list(map(lambda x:x['category_code'], list(cursor))) # Creo función lambda para que me consiga todos mis category_code que debo convertir en lista ya que es un objeto.

category_codes = [] # Asigno y creo lista vacia a category_codes.
for element in categories: # Para cada elemento en categories 
    if element not in category_codes: # si el elemento no esta en category_codes
        category_codes.append(element) # Entonces mi lista vacia de category_codes le voy a .append(agregar) el elemento
    else:                              # si no.
        pass                           # pasa.
print(category_codes)   # Display todas las catergory_codes de mi lista.

['enterprise', 'software', 'web', 'news', 'network_hosting', 'games_video', 'music', 'mobile', 'social', 'search', 'messaging', 'advertising', 'security', 'photo_video', 'finance', 'ecommerce', 'travel', 'hardware', 'public_relations', 'other', 'real_estate', 'semiconductor', 'analytics', 'health', 'legal', 'sports', 'biotech', 'cleantech', 'education', 'consulting', 'transportation', None, 'hospitality', 'fashion', 'nonprofit', 'nanotech', 'automotive', 'design', 'manufacturing', 'government', 'local', 'medical']

In [39]:
# Creando cursor con los parametros que necesito
# Pongo deadpooled_year: None ya que no me interesa que aparezca en mi data frame las empresas que estan o irán a quiebra.
companies_interest_cursor = list(db.companies.find({"deadpooled_year": None},
                                       {"_id":0,"name":1,"category_code":1,"number_of_employees":1,
                                       "total_money_raised":1,"founded_year":1,
                                       "offices.latitude":1,"offices.longitude":1}))

In [40]:
df_companies = pd.DataFrame(companies_interest_cursor) # Creando dataframe con companies_interest_cursor.

display(df_companies.shape) # Mostrando el tamaño de mi dataframe.

(17872, 6)

In [47]:
df_companies.head(100) # Mostrar las 5 primeras filas de mi dataframe.

,category_code,name,offices,number_of_employees,founded_year,total_money_raised
0,news,Digg,"[{'latitude': 37.764726, 'longitude': -122.394...",60.0,2004.0,$45M
1,games_video,Flektor,"[{'latitude': 34.025958, 'longitude': -118.379...",NaN,NaN,$0
2,web,Postini,"[{'latitude': 37.506885, 'longitude': -122.247...",NaN,1999.0,$0
3,web,Geni,"[{'latitude': 34.090368, 'longitude': -118.393...",18.0,2006.0,$16.5M
4,web,Gizmoz,"[{'latitude': 37.48413, 'longitude': -122.1694...",NaN,2003.0,$18.1M
5,web,Fox Interactive Media,"[{'latitude': 34.076179, 'longitude': -118.394...",0.0,1979.0,$0
6,music,Slacker,"[{'latitude': 33.022176, 'longitude': -117.081...",NaN,2006.0,$73.1M
7,games_video,Lala,"[{'latitude': 37.451151, 'longitude': -122.154...",NaN,NaN,$44.2M
8,web,StumbleUpon,"[{'latitude': 37.775196, 'longitude': -122.419...",NaN,2002.0,$18.5M
9,mobile,Helio,"[{'latitude': 34.057498, 'longitude': -118.446...",NaN,2005.0,$0
10,news,Scribd,"[{'latitude': 37.789634, 'longitude': -122.404...",50.0,2007.0,$25.8M
11,social,MeetMoi,"[{'latitude': 40.757929, 'longitude': -73.9855...",15.0,2007.0,$5.58M
12,games_video,Joost,"[{'latitude': 40.7464969, 'longitude': -74.009...",0.0,2006.0,$45M
13,web,Viacom,"[{'latitude': 40.757725, 'longitude': -73.9860...",NaN,1971.0,$0
14,social,Twitter,"[{'latitude': 37.7768052, 'longitude': -122.41...",1300.0,2006.0,$1.16B
15,news,CBS,"[{'latitude': 37.269175, 'longitude': -119.306...",NaN,1986.0,$0
16,web,Plaxo,"[{'latitude': 37.387845, 'longitude': -122.055...",50.0,2002.0,$28.3M
17,social,Facebook,"[{'latitude': 37.41605, 'longitude': -122.1518...",5299.0,2004.0,$2.43B
18,web,eBay,"[{'latitude': 37.295005, 'longitude': -121.930...",15000.0,1995.0,$6.7M
19,search,Powerset,"[{'latitude': 37.778613, 'longitude': -122.395...",60.0,2006.0,$22.5M
20,messaging,SpinVox,"[{'latitude': None, 'longitude': None}]",NaN,NaN,$106M
21,advertising,Technorati,"[{'latitude': 37.779558, 'longitude': -122.393...",35.0,2002.0,$32.1M
22,web,Mahalo,"[{'latitude': 34.017606, 'longitude': -118.487...",40.0,2007.0,$21M
23,advertising,AddThis,"[{'latitude': 38.926172, 'longitude': -77.2451...",120.0,2004.0,$73M
24,games_video,Veoh,"[{'latitude': 32.902266, 'longitude': -117.208...",NaN,2004.0,$69.8M
25,web,Info,"[{'latitude': 41.885619, 'longitude': -87.6223...",NaN,NaN,$8.4M
26,advertising,OpenX,"[{'latitude': 34.1494713, 'longitude': -118.13...",305.0,2008.0,$75.5M
27,web,JotSpot,"[{'latitude': 37.437328, 'longitude': -122.159...",NaN,NaN,$5.2M
28,web,NetRatings,"[{'latitude': 37.09024, 'longitude': -95.712891}]",NaN,NaN,$0
29,mobile,Jingle Networks,"[{'latitude': 37.480999, 'longitude': -122.173...",35.0,2005.0,$88.7M
...,...,...,...,...,...,...
70,enterprise,Mashery,"[{'latitude': 37.7870842, 'longitude': -122.40...",0.0,2006.0,$34.7M
71,web,Zamzar,"[{'latitude': 50.9444598, 'longitude': -1.3610...",2.0,2006.0,$0
72,games_video,blinkx,"[{'latitude': 37.793819, 'longitude': -122.395...",NaN,2004.0,$0
73,web,SideStep,"[{'latitude': 37.374998, 'longitude': -121.977...",75.0,1999.0,$32M
74,hardware,Intel,"[{'latitude': 37.384949, 'longitude': -121.967...",86300.0,1968.0,$0
75,enterprise,ConVerdge,"[{'latitude': 34.0126379, 'longitude': -118.49...",25.0,2006.0,$0
76,search,Farecast,"[{'latitude': 47.620982, 'longitude': -122.359...",26.0,2003.0,$20.6M
77,news,Dailymotion,"[{'latitude': None, 'longitude': None}, {'lati...",120.0,2005.0,$68.5M
78,web,Pageflakes,"[{'latitude': 37.758113, 'longitude': -122.414...",20.0,2006.0,$4.1M
79,enterprise,KickApps,"[{'latitude': 40.7516611, 'longitude': -73.984...",72.0,2004.0,$32M
80,games_video,RockYou,"[{'latitude': 37.484619, 'longitude': -122.206...",106.0,2005.0,$136M
81,web,Instructables,"[{'latitude': 37.7791761, 'longitude': -122.40...",NaN,2005.0,$0
82,web,Netvibes,"[{'latitude': 48.870806, 'longitude': 2.34668}...",35.0,2005.0,$16M
83,web,BabyCenter,"[{'latitude': 37.778076, 'longitude': -122.397...",NaN,1997.0,$0
84,web,Flickr,"[{'latitude': 37.418531, 'longitude': -122.025...",36.0,2004.0,$0
85,web,coRank,"[{'latitude': 37.36965, 'longitude': -122.02421}]",0.0,2007.0,$0
86,web,Bebo,"[{'latitude': 37.782103, 'longitude': -122.401...",0.0,2005.0,$15M
87,web,CrowdVine,"[{'latitude': 37.90077, 'longitude': -122.5116...",10.0,2007.0,$0
88,mobile,WeFi,"[{'latitude': 37.09024, 'longitude': -95.712891}]",NaN,2006.0,$10M
89,web,FeedBurner,"[{'latitude': 41.889474, 'longitude': -87.6289...",NaN,2004.0,$8M
90,web,TVtrip,"[{'latitude': 48.856667, 'longitude': 2.350987}]",NaN,2007.0,$13.8M
91,web,Dogster,"[{'latitude': 37.762681, 'longitude': -122.400...",NaN,2004.0,$1M
92,ecommerce,TheFind,"[{'latitude': 37.391502, 'longitude': -122.073...",NaN,2006.0,$26M
93,ecommerce,Zazzle,"[{'latitude': 37.5108541, 'longitude': -122.20...",NaN,1999.0,$46M
94,search,Google,"[{'latitude': 37.421972, 'longitude': -122.084...",28000.0,1998.0,$555M
95,public_relations,CornerWorld,"[{'latitude': 32.914662, 'longitude': -96.7712...",NaN,2002.0,$0
96,enterprise,PBworks,"[{'latitude': None, 'longitude': None}]",25.0,2005.0,$10.5M
97,web,WatZatSong,"[{'latitude': 48.866323, 'longitude': 2.381514}]",3.0,2006.0,$0
98,web,Loomia,"[{'latitude': 37.796396, 'longitude': -122.404...",NaN,2004.0,$7.5M
99,web,Newsvine,"[{'latitude': 47.618599, 'longitude': -122.358...",8.0,2005.0,$1.25M

In [46]:
df_companies = df_companies.reindex_axis(['category_code', 'name', 'offices', 'number_of_employees', 'founded_year', 'total_money_raised'],axis=1)
df_companies.head()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """Entry point for launching an IPython kernel.

,category_code,name,offices,number_of_employees,founded_year,total_money_raised
0,news,Digg,"[{'latitude': 37.764726, 'longitude': -122.394...",60.0,2004.0,$45M
1,games_video,Flektor,"[{'latitude': 34.025958, 'longitude': -118.379...",NaN,NaN,$0
2,web,Postini,"[{'latitude': 37.506885, 'longitude': -122.247...",NaN,1999.0,$0
3,web,Geni,"[{'latitude': 34.090368, 'longitude': -118.393...",18.0,2006.0,$16.5M
4,web,Gizmoz,"[{'latitude': 37.48413, 'longitude': -122.1694...",NaN,2003.0,$18.1M

,name,category,coords,founded_year,employees,total_money_raised,tags,twitter
0,Digg,news,"{'latitude': 37.764726, 'longitude': -122.394523}",2004.0,60.0,$45M,"community, social, news, bookmark, digg, techn...",digg
1,Flektor,games_video,"{'latitude': 34.025958, 'longitude': -118.379768}",NaN,NaN,$0,"flektor, photo, video",None
2,Postini,web,"{'latitude': 37.506885, 'longitude': -122.247573}",1999.0,NaN,$0,,None
3,Geni,web,"{'latitude': 34.090368, 'longitude': -118.393064}",2006.0,18.0,$16.5M,"geni, geneology, social, family, genealogy",geni
4,Gizmoz,web,"{'latitude': 37.48413, 'longitude': -122.169472}",2003.0,NaN,$18.1M,"avatar, widget, 3d, facial, taylor",None