In [1]:
import pandas as pd

data = pd.read_csv('vehicles/vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
data.columns = ['Manufacturer','Model','Year','Displacement',
                'Cylinders','Transmission','Drivetrain',
                'Vehicle Class','Fuel Type','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

In [6]:
column_order = ['Year','Manufacturer','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]
data.head()

,Year,Manufacturer,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550

In [10]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
cutoffs = [7,14,21,23,30,40]
data["MPG CATEGORY"] = pd.cut(data['Combined MPG'],cutoffs, labels=mpg_labels)
data.head(10)

,Year,Manufacturer,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,MPG CATEGORY
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950,Low
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,Very Low
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100,Low
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,Very Low
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550,Low
5,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,4.0,2.2,14.982273,20,26,22,403.954545,1500,Moderate
6,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,Regular,4.0,2.2,13.733750,22,28,24,370.291667,1400,High
7,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,6.0,3.0,16.480500,18,26,20,444.350000,1650,Low
8,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Automatic 4-spd,Front-Wheel Drive,Regular,4.0,2.3,14.982273,19,27,22,403.954545,1500,Moderate
9,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,Regular,4.0,2.3,13.733750,21,29,24,370.291667,1400,High

In [12]:
data.loc[data['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
data.loc[data['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'

In [15]:
data["TransType"].value_counts()

Automatic    24290
Manual       11662
Name: TransType, dtype: int64

In [18]:
 pd.get_dummies(data['TransType'])

       Automatic  Manual
0              1       0
1              1       0
2              1       0
3              1       0
4              1       0
5              1       0
6              0       1
7              1       0
8              1       0
9              0       1
10             1       0
11             1       0
12             0       1
13             1       0
14             1       0
15             1       0
16             1       0
17             1       0
18             1       0
19             1       0
20             1       0
21             1       0
22             1       0
23             0       1
24             1       0
25             1       0
26             1       0
27             1       0
28             1       0
29             1       0
...          ...     ...
35922          0       1
35923          0       1
35924          0       1
35925          0       1
35926          0       1
35927          0       1
35928          0       1
35929          0       1
35930          0       1
35931          0       1
35932          1       0
35933          1       0
35934          1       0
35935          1       0
35936          1       0
35937          1       0
35938          1       0
35939          0       1
35940          1       0
35941          1       0
35942          1       0
35943          1       0
35944          1       0
35945          1       0
35946          1       0
35947          1       0
35948          1       0
35949          1       0
35950          1       0
35951          0       1

[35952 rows x 2 columns]

In [27]:
avg_mpg = data.groupby('Manufacturer', as_index=False).agg({'Combined MPG':'mean'})
avg_mpg

                           Manufacturer  Combined MPG
0                            AM General     14.750000
1                      ASC Incorporated     16.000000
2                                 Acura     21.506623
3                            Alfa Romeo     19.512195
4           American Motors Corporation     17.681818
5                          Aston Martin     13.578947
6                                  Audi     20.325843
7                       Aurora Cars Ltd     15.000000
8                     Autokraft Limited     16.500000
9                                   BMW     20.032797
10                           BMW Alpina     15.666667
11                              Bentley     13.250000
12                              Bertone     22.000000
13        Bill Dovell Motor Car Company     17.000000
14               Bitter Gmbh and Co. Kg     15.666667
15                              Bugatti     10.000000
16                                Buick     20.880819
17                      CCC Engineering     15.000000
18                        CX Automotive     16.187500
19                             Cadillac     18.375984
20                            Chevrolet     18.508098
21                             Chrysler     20.120125
22             Consulier Industries Inc     21.000000
23           Dabryan Coach Builders Inc     16.333333
24                                Dacia     23.000000
25                               Daewoo     23.074627
26                             Daihatsu     29.647059
27                                Dodge     17.195339
28                   E. P. Dutton, Inc.     17.000000
29                                Eagle     21.987179
..                                  ...           ...
97                              Renault     25.393939
98                          Rolls-Royce     12.012500
99                    Roush Performance     14.660377
100                 Ruf Automobile Gmbh     13.000000
101  S and S Coach Company  E.p. Dutton     10.000000
102                                 SRT     15.000000
103                                Saab     20.212195
104                              Saleen     15.000000
105                  Saleen Performance     13.500000
106                              Saturn     24.061151
107                               Scion     27.216867
108                              Shelby     17.000000
109                              Spyker     15.307692
110                            Sterling     18.166667
111                              Subaru     22.293214
112    Superior Coaches Div E.p. Dutton     10.000000
113                              Suzuki     23.390625
114                 TVR Engineering Ltd     18.000000
115                         Tecstar, LP     13.000000
116                 Texas Coach Company     12.000000
117                              Toyota     21.800109
118                                 VPG     14.200000
119                              Vector      8.500000
120                 Vixen Motor Company     16.000000
121         Volga Associated Automobile     19.000000
122                          Volkswagen     24.093601
123                               Volvo     20.605300
124               Wallace Environmental     13.875000
125                                Yugo     25.000000
126                               smart     35.800000

[127 rows x 2 columns]

In [29]:
data = pd.merge(data, avg_mpg, on="Manufacturer")

In [31]:
data.head()

,Year,Manufacturer,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG_x,CO2 Emission Grams/Mile,Fuel Cost/Year,MPG CATEGORY,TransType,Combined MPG_y,Combined MPG
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950,Low,Automatic,14.75,14.75
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,Very Low,Automatic,14.75,14.75
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100,Low,Automatic,14.75,14.75
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,Very Low,Automatic,14.75,14.75
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550,Low,Automatic,16.00,16.00

In [36]:
lexus = data[data['Manufacturer']=='Lexus']
audi = data[data['Manufacturer']=='Audi']

lexus_audi = pd.concat([lexus, audi], axis=0)

lexus_audi.head()

,Year,Manufacturer,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG_x,CO2 Emission Grams/Mile,Fuel Cost/Year,MPG CATEGORY,TransType,Combined MPG_y,Combined MPG
21128,2011,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,43,40,42,211.595238,800,NaN,Automatic,20.982368,20.982368
21129,2012,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,43,40,42,211.595238,800,NaN,Automatic,20.982368,20.982368
21130,2013,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,43,40,42,211.000000,800,NaN,Automatic,20.982368,20.982368
21131,2014,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,43,40,42,179.000000,800,NaN,Automatic,20.982368,20.982368
21132,2015,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,43,40,42,211.000000,800,NaN,Automatic,20.982368,20.982368

In [39]:

melted = pd.melt(data, id_vars=['Year','Manufacturer','Model'], 
                 value_vars=['City MPG','Highway MPG','Combined MPG'])
display(melted.head())
print(data.shape)
print(melted.shape)

   Year      Manufacturer                Model  variable  value
0  1984        AM General    DJ Po Vehicle 2WD  City MPG   18.0
1  1984        AM General     FJ8c Post Office  City MPG   13.0
2  1985        AM General  Post Office DJ5 2WD  City MPG   16.0
3  1985        AM General  Post Office DJ8 2WD  City MPG   13.0
4  1987  ASC Incorporated                  GNX  City MPG   14.0

(35952, 19)
(107856, 5)